#!/usr/bin/make -f

export PYBUILD_NAME=txfixtures

# This is needed because of https://bugs.launchpad.net/pbr/+bug/1637729
export PBR_VERSION=$(shell dpkg-parsechangelog -SVersion | sed -e 's/[-].*//')

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

